
.jtime-persontime-stats-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	
	box-shadow: 0 2px 6px 3px rgba(0,0,0,0.3);
	background-color: white;
	
	margin: 1em 0 0;
	padding: 1em;
	
	h3 {
		margin: 0 0 1em;
	}
}

.jtime-persontime-stats-block {
	flex-grow: 1;
	min-width: 300px;
}

