@import '../../variables.css';

.header {
	text-align: center;
	
	h2 {
		display: inline-block;
		margin: 1em 0;
		color: #333;
	}
	a {
		color: var(--grey);
		font-weight: bolder;
		font-size: 25px;
		text-decoration: none;
		padding: 0 1em;
		
		&:focus,
		&:hover {
			color: var(--dark-grey);
			outline: 0;
		}
	}
}

.jtime-persontime-controls {
	margin: 1em;
}

.jtime-persontime-container {
	display: flex;
	flex-wrap: wrap;
}
.jtime-persontime-subcontainer {
	min-width: 320px;
	max-width: 1200px;
}
.jtime-persontime-table-container {
	flex-grow: 100;
	width: 600px;
}
.jtime-persontime-stats-container {
	flex-grow: 1;
	width: 350px;
}
